<mainnav></mainnav>
<div class="container">
  <div class="hero">
    <div class="row">
      <div class="four offset-by-one columns">
        <img src="http://cf.ltkcdn.net/cats/images/std/159706-357x421-kitten.jpg">
      </div>
      <div class="five offset-by-one columns">
        <h1>Meow</h1>
        <p>Sit in window and stare ooo, a bird! yum step on your keyboard while you're gaming and then turn in a circle or intently stare at the same spot hiss at vacuum cleaner. Wake up human for food at 4am meowing non stop for food, step on your keyboard while you're gaming and then turn in a circle . Missing until dinner time sniff other cat's butt and hang jaw half open thereafter.</p>
      </div>
    </div>
  </div>
  <div class="posts">
    <div class="four columns">
      <img src="http://cf.ltkcdn.net/cats/images/std/159706-357x421-kitten.jpg">
      <h2>The man in black</h2>
      <p>Fled across the desert</p>
    </div>
    <div class="four columns">
      <img src="http://cf.ltkcdn.net/cats/images/std/159706-357x421-kitten.jpg">
    </div>
    <div class="four columns">
      <img src="http://cf.ltkcdn.net/cats/images/std/159706-357x421-kitten.jpg">
    </div>

    <div class="four columns">
      <img src="http://cf.ltkcdn.net/cats/images/std/159706-357x421-kitten.jpg">
    </div>
    <div class="four columns">
      <img src="http://cf.ltkcdn.net/cats/images/std/159706-357x421-kitten.jpg">
    </div>

    <div class="four columns">
      <img src="http://cf.ltkcdn.net/cats/images/std/159706-357x421-kitten.jpg">
    </div>
  </div>

</div>
