<mainnav></mainnav>
<div class="container">
  <div class="row">
    <div class="six offset-by-three columns">
      <h4>Africa Agenda strives to promote positive, unbiased news about Africa. When you support the work of Africa Agenda, you help inform the community – one person at a time.</h4>
      <p>Please consider a contribution at a level below:</p>

      <form>
        <ul class="donation-form">
          <li><input type="radio"> $15</li>
          <li><input type="radio"> $25</li>
          <li><input type="radio"> $50</li>
          <li><input type="radio"> $100</li>
          <li><input type="radio"> Other Amount <input type="text"></li>
        </ul>
      </form>
    </div>
  </div>
</div>

<mainfooter></mainfooter>
