<header>
  <h1 class="org-name"><a href="/#/">AfricaTRUTH</a></h1>
  <span ng-click="vm.toggle()" class="expand-menu">Menu</span>
  <nav>
    <a class="no-hover-effect">Filter Articles By: </a>
    <a href="#">Country</a>
    <a href="#">Author</a>
    <a href="#">Hot Topic</a>
  </nav>
</header>
<div class="search">
  <input type="text" placeholder="Enter Search Term">
  <input type="submit" value="Search">
</div>
<div class="header-media">
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </div>
<div ng-show="!vm.hidden" class="large-menu">
  <div class="nav-links">
    <a href="/#/about">About</a>
    <a href="#">Events</a>
    <a href="#">Donate</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Login</a>
  </div>
</div>

