.hero {
  // border-left: 1px solid $light-grey;
  // border-right: 1px solid $light-grey;
  background:rgba(175,175,220, 0.5);
  padding: 30px 0;
  width: 100%;
  margin: 100px 0;
  img {
    width: 100%;
  }
  .campaign-link {
    h1 {
      color: black;
      font-size: 3.5rem;
      font-weight: bold;
    }
  }
  .learn-more {
    background-color: black;
    a {
      color: white;
    }
  }
}

.posts {
  img{
    width: 100%;
  }
  .article-info {
    width:100%;
    margin-top: 0;
    padding-top: 0;
  }
  .ind-post {
    border: 1px solid $dark-grey;
    margin-bottom: 10vh;
    h2 {
      font-size: 2rem;
      font-weight: bold;
    }
    h2, p {
      padding: 0 10px;
    }

    &:hover {
      opacity: .7;
      cursor: pointer;
    }
  }

}
