@import 'fonts';
@import 'colors';
@import 'header';
@import 'landing';

.container {
  z-index: 0;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px;
}
footer {
  position:absolute;;
  left:0;
  bottom:0;
  height:100px;
  width:100%;
  background-color: black;
  text-align: center;

  a {
    color: white;
    padding: 0 15px;
    position: relative;
    top: 30px;
    font-size: 2rem;
  }
}